

body {
	color: blue;
	background-image: url(Atrapasueños.jpg.jpg);

}

p {
	color:  #ffff00;
	font-family: serif;
	font-size: 20px;
}

h4 {
	font-family: fantasy;
	font-size: 25px ;
	color:white;
}
h1{
	font-family: fantasy;
	font-size: 40px;
}

h2 {
	font-family:fantasy;
	font-size: 25px;
	color: white;
}

h3 {
	font-family: fantasy;
	font-size: 25px ;
	color:white;
}

h5 {
	font-family: fantasy;
	font-size: 25px ;
	color:blue;
}

hr {
	border: none;
	height: 25px;
	background: linear-gradient(to left, black, blue,red,yellow );

}

img {
	width:300px;
	float: left;
	margin-top: 15px;
	margin-right: 20px;
}



